.w {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 1px solid #c81523;
}
.logo {
    padding-top: 18px;
}
.registerarea {
    height: 522px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.registerarea h3 {
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
}
.registerarea h3 span {
    float: right;
    font-size: 12px;
    font-weight: 400;
}
.registerarea h3 span a {
    color: #c81523;
}
.reg_form {
    width: 600px;
    /* background-color: pink; */
    margin: 50px auto 0;
}
.reg_form ul li label {
    /* 文字靠右对齐，将label变成一个inline-block，设置宽度后让文字右对齐 */
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li {
    margin-bottom: 20px;
}
.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: #ccc 1px solid;
}
.error {
    color: #c81523;
    vertical-align: middle;
}
.error_icon, .success_icon {
    display: inline-block;
    width: 20px;
    height: 20px;   
    vertical-align: middle;
    margin: 0 5px;
}
.error_icon {
    background: url("/images/error.png");
}
.success {
    color: green;
}
.success_icon {
    background: url("/images/success.png");
}
.safe {
    padding-left: 164px;
}
.safe em {
    padding: 0 12px;
    margin-left: 2px;
    /* background-color: pink; */
    color: #fff;
}
/* 在真实开发中，这里不要这么做。而是应该给每个加class，方便后期js操作 */
.safe em:first-child {
    background-color: #de1111;
}
/* 在真实开发中，这里不要这么做。而是应该给每个加class，方便后期js操作 */
.safe em:nth-child(2) {
    background-color: #40b83f;
}
/* 在真实开发中，这里不要这么做。而是应该给每个加class，方便后期js操作 */
.safe em:last-child {
    background-color: #f79100;
}
.agree {
    padding-left: 100px;
}
.agree input {
    vertical-align: middle;
    margin-right: 5px;
}
.agree {
    color: blue;
}
input[value="完成注册"] {
    display: block;
    width: 150px;
    height: 30px;
    margin: 50px 150px;
    color: #fff;
    background-color: #c81523;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.links a {
    margin: 0 3px;
}
.copyright {
    line-height: 20px;
}
